@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    background-color: #F0F2F5;
    font-family: "Roboto", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    position: absolute;
    left: 14%;
    top: 30%;
    font-size: 25px;
    flex-grow: 1;
    margin-bottom: 50px;
}

header{
    width: 400px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 53%;
    background-color: white;
    margin: 20px;   
    border: 5px black;
    padding: 25px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 500px;
}


.box input{
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding: 13px 18px;
    margin-top: 18px;
    align-items: center;
}

.forow{
    padding-top: 10px;
    padding-bottom: 10px;
}

.link1{
    width: 100%;
    text-align: center;
    background-color: #2C83F2;
    margin-top: 10px;
    padding: 11px;
    border-radius: 7px;
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
}

.link2{
    position: relative;
    text-align: center;
    margin-top: 12px;
}

a .link2{
    color: #2c7ff2;
    text-decoration: none;
    text-align: center;
}

a:hover .link2{
    text-decoration: underline;
}

.link1:hover{
    background-color: #5695e9;
}

.link3{
    width: 60%;
    height: 12%;
    position: absolute;
    text-align: center;
    background-color: #42b72a;
    padding: 11px;
    border-radius: 7px;
    margin-top: 12px;
    margin-left: 50px;
}
.link3:hover{
    background-color: #2fa617;
}

a .link3{
    font-size: 15px;
    text-decoration: none;
    color: #F0F2F5;
}

.txt{
    position:absolute;
    margin-top: 90px;
    font-size:90%;
    text-align: center;
}
strong.str:hover{
    text-decoration: underline;
}


footer{
    background-color: #fff;
    margin-top: 720px;
    width: 100%;
    text-align: center;
}

.bottom-part {
    padding: 15px;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

footer ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
}

footer ol:first-child {
    border-bottom: 1px solid #dddfe2;
}

footer ol:first-child li:last-child button {
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    outline: none;
    color: #4b4f56;
    padding: 0 8px;
    font-weight: bold;
    font-size: 16px;
}

footer ol li {
    padding-right: 10px;
    line-height: 2;
    font-size: 12px;
    color: #737373;
    text-decoration: none;
}

footer ol li:hover{
    text-decoration: underline;
}

lower-links{
    color: #737373;
}

footer ol li a:hover {
    text-decoration: underline;
}

footer small {
    font-size: 11px;
}

footer ol a {
    padding-right: 10px;
    line-height: 2;
    font-size: 12px;
    color: #737373;
    text-decoration: none;
}

footer ol a:hover{
    text-decoration: underline;
}

small{
    color: #737373;
}